/* your custom css */
* {
    box-sizing: border-box;
}

body {
    font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

/* 
@font-face {
    font-family: 'Work Sans Bold';
    src: url('/fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Work Sans Thin';
    src: url('/fonts/worksans-thin-webfont.woff2') format('woff2'),
         url('/fonts/worksans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'SF Bold';
    src: url('/fonts/sf/sfuidisplay-bold-webfont.woff2') format('woff2'),
         url('/fonts/sf/sfuidisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SF Medium';
    src: url('/fonts/sf/sfuidisplay-medium-webfont.woff2') format('woff2'),
         url('/fonts/sf/sfuidisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SF Black';
    src: url('/fonts/sf/sfuidisplay-black-webfont.woff2') format('woff2'),
         url('/fonts/sf/sfuidisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SF Light';
    src: url('/fonts/sf/sfuidisplay-light-webfont.woff2') format('woff2'),
         url('/fonts/sf/sfuidisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SF Regular';
    src: url('/fonts/sf/sfuidisplay-regular-webfont.woff2') format('woff2'),
         url('/fonts/sf/sfuidisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: transparent;
    font-size: 14px;
}

.container .gridBlock .blockContent p {
    padding-bottom: 10px;
}

.fixedHeaderContainer {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 1px 12px 0 #1919221a;
}

.fixedHeaderContainer header > a {
    position: relative;
}

.fixedHeaderContainer header img {
    margin-right: 15px;
    border-right: 1px solid #0000004d;
    padding-right: 15px;
}

.fixedHeaderContainer header > a::before, .fixedHeaderContainer header > a::after {
    font-family: 'SF Regular';
    line-height: 35px;
    text-transform: uppercase;
    top: -1px;
    font-size: 20px;
    font-weight: 300 !important;
    color: #000000;
    position: relative;
}

.fixedHeaderContainer header > a::after {
    content: "DEVELOPER "
}

.fixedHeaderContainer header > a::before {
    content: "HUB";
    position: absolute;
    right: -49px;
    color: #ff6619;
}

.fixedHeaderContainer a {
    height: auto;
}

input#search_input_react {
    background: #f5f1f1;  /* #f2c4b24d; */
    padding: 5px 5px 5px 35px;
    color: #454647;
}

input#search_input_react:focus, input#search_input_react:active {
    color: #454647;
}

input#search_input_react::placeholder {
    color: #454647;
}

.navSearchWrapper::before {
    border-color: #949498;
    left: 20px;
}

.navSearchWrapper::after {
    background: #949498;
    left: 29px;
}

.navigationSlider .slidingNav ul li a {
    color: #000000;
    font-size: 10.5px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: #000000;
    text-decoration: underline;
    background: none;
}

/* .fixedHeaderContainer a[href="https://forums.paynow.co.zw/"] {
    font-size: 14px !important;
    background: #175ff8;
    color: #ffffff !important;
    border-radius: 1.6px;
} */

.homeContainer .homeWrapper {
    background: transparent url('/img/paynow-villain.png') right 35px no-repeat;
    height: 478px;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    max-width: 1366px !important;
}

.homeContainer {
    text-align: left;
    margin-bottom: -70px;
}

.mainContainer {
    background: #ffffff;
    font-size: 14px;
}

.promoSection .promoRow .pluginRowBlock {
    justify-content: left;
}

.projectTitle {
    color: #000000;
    margin-top: 48px;
}

.projectTitle > small {
    font-family: 'SF Regular';
}

.projectTitle > small > span {
    color: #ff6619;
}

.buttonWrapper a {
    color: #ffffff;
}

.promoSection #getStarted a {
    background-color: #ff6619;
    border-color: #ff6619;
}

.promoSection #faqs a, #signup a {
    background-color: #175ff8;
    border-color: #175ff8;
}

#dsfb {
    background-color: #fbfbfb;
}

/* Signup CTA */
#signupCallToAction {
    display: table;
    position: relative;
    padding: 0;
    margin: 0px auto;
    /* border-bottom: 1px solid rgba(0,0,0,0.25); */
    width: 100%;
    padding-bottom: 25px;
    z-index: 9;
}


/* #signupCallToAction::after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    max-width: 600px;
    background: rgba(0,0,0,0.25);
    margin: 25px auto;
} */

#signupCallToAction > div {
    display: table;
    margin: auto;
}

#signupCallToAction > div > p,
#signupCallToAction > div > div#signup {
    display: block;
    float: left;
    margin: 0 10px;
}


/* Getting Started */

.imageAlignSide .blockImage {
    max-width: 600px;
    flex: 0 1 600px;
}

.tabs-container {
    /* max-width: 666px; */
}

ul.tabs{
    margin: 0px !important;
    padding: 0px !important;
    list-style: none !important;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    max-width: none !important;
    margin: 0 !important;
}

ul.tabs li.current{
    background: #e7eefe;
    color: #222;
}

.tab-content{
    display: none;
    background: #e7eefe;
    padding: 15px;
}

.tab-content .tab-content {
    padding: 15px 0 0 0;
}

.try .tab-content {
    padding-left: 35px;
}

.tab-content p {
    max-width: none !important;
}

.tab-content pre code {
    margin: 0 0 0 0;
}

.tab-content.current{
    display: inherit;
}

.codeContainer + p {
    padding-top: 10px !important; 
}

.tabs-container div.tabs-container > ul.tabs > li {
    font-size: 13px;
    background: #c2d5fc;
    border-radius: 30px;
    margin: 0 8px 0 0 !important;
    padding: 5px 15px;
}

.tabs-container div.tabs-container > ul.tabs > li.current {
    background: #ff6619;
    color: #fff;
}

/* Getting Started */

/* Features, Callouts */

.imageAlignTop .blockImage {
    max-width: 100%;
}

/* Features, Callouts */


/* Sidebar */

#docsNav {
    border-right: 1px solid #eeeeee;
}

#docsNav .navGroups .navGroup:first-child ul > li:nth-child(2)::after,
#docsNav .navGroups .navGroup:first-child ul > li:nth-child(7)::after,
#docsNav .navGroups .navGroup:first-child ul > li:nth-child(11)::after
 {
    opacity: 0.4;
    font-size: 11px;
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
}

#docsNav .navGroups .navGroup:first-child ul > li:nth-child(2)::after {
    content: "Libraries";
}

#docsNav .navGroups .navGroup:first-child ul > li:nth-child(7)::after {
    content: "Plugins & Extensions";
}

#docsNav .navGroups .navGroup:first-child ul > li:nth-child(11)::after {
    content: "Developed by the Community";
}

#docsNav a[href="/docs/magento_prizeless.html"]::after {
    content: " (by Prizeless Technologies)";
    font-size: 11px;
    opacity: 0.5;
}

#docsNav a[href="/docs/camptix_nigelrodgers.html"]::after {
    content: " (by Nigel Rodgers)";
    font-size: 11px;
    opacity: 0.5;
}

/* Sidebar */


/* Footer */

footer#footer {
    background: #20232a;
}

footer#footer .sitemap > div {
    margin-bottom: 25px;
}

footer#footer .sitemap > div:last-child {
    margin-bottom: 0px;
}

/* Footer */


/* Other Elements */

.button {
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #175ff8;
    box-shadow: 0 5px 15px 0 #0003;
}

.button:hover {
    background: #ff6619;
    border-color: #ff6619;
}

#footer .sitemap a[href^="https://"]::after,
#footer .sitemap a[href^="http://"]::after {
    content: "";
    width: 10px;
    height: 10px;
    background: transparent url('/img/externallink.svg') center no-repeat;
    display: inline-block;
    margin-left: 10px;
}

/* Other Elements */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media screen and (min-width: 736px) {
    .navPusher {
        padding-top: 95px;
    }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 1366px) {
    /* .wrapper {
        max-width: 1120px !important;
    } */
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 959px) {
    .fixedHeaderContainer header > a img {
        border: none;
        margin: 0;
        padding: 0;
    }

    .fixedHeaderContainer header > a::before,
    .fixedHeaderContainer header > a::after {
        display: none;
    }
}

@media only screen and (max-width: 735px) {

    input#search_input_react {
        background: #f5f1f1 !important;  /* #f2c4b24d; */
        padding: 5px 5px 5px 35px !important;
        color: #454647;
    }
    
    input#search_input_react:focus, input#search_input_react:active {
        color: #454647 !important;
    }
    
    input#search_input_react::placeholder {
        color: #454647;
    }
    
    .navSearchWrapper::before {
        border-color: #949498;
        left: 11px;
    }
    
    .navSearchWrapper::after {
        background: #949498;
        left: 20px;
    }

    .navigationSlider nav.slidingNav {
        box-shadow: 0 1px 12px 0 #1919221a;
    }

    .navigationSlider .slidingNav ul {
        margin-top: 65px;;
    }
    
    .homeContainer {
        margin-bottom: 0;
    }

    .homeContainer .homeWrapper {
        background: none;
        height: auto;
    }
    
    .imageAlignSide .blockContent{
        flex: auto;
        width: 100%;
    }

    .tabs-container ul.tabs > li {
        font-size: 12px;
        padding: 12px;
    }
    
    .tabs-container div.tabs-container > ul.tabs > li {
        display: block;
        margin-right: 0 !important;
    }

    .tabs-container div.tabs-container > ul.tabs > li:not(:last-child) {
        margin-bottom: 15px !important;
    }

    .mainContainer > #signupCallToAction:first-child {
        display: none;
    }

    #signupCallToAction div > * {
        display: block !important;
        float: none !important;
    }

    .docMainWrapper {
        padding-top: 15px;
    }

}