/* your custom css */
body {
    font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('/fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Work Sans Thin';
    src: url('/fonts/worksans-thin-webfont.woff2') format('woff2'),
         url('/fonts/worksans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.fixedHeaderContainer {
	/*padding: 3rem 0;*/
    background-image: linear-gradient(to bottom, #185ff9, #99a2ff);
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

